<h3 class="text-center text-success">LINE@</h3>
<table class="table table-striped">
  <thead class="base-color text-white">
    <tr>
      <th scorp ="col">No.</th>
      <th scorp ="col">ジャンル</th>
      <th scorp ="col">内容</th>
    </tr>
  </thead>
  <tbody>
    <% @lines.each.with_index(1) do |line, i|%>
      <tr>
        <th scorp ="row"><%= i %></th>
        <td><%= line.genre %></td>
        <td><%= link_to line.title, line_path(line.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>