<div id="container">
  <% @movies.each_with_index do |movie, i| %>
    <div class="movie_#{i+1} bdr">
      <iframe width="335" height="210" src="<%= movie.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <a class="btn btn-secondary btn-block" href="#">視聴済みにする</a>
      <p class="m_title"><%= "Lv.#{i+1} : #{movie.title}" %></p>
    </div>
  <% end %>
</div>
<%= paginate @movies %>

