@import "bootstrap/scss/bootstrap";
@import "layouts/navbar";
@import "questions/index";
@import "questions/show";
@import "movies";
@import "lines/index";
@import "lines/show";


.base-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
}

.movie-container {
  max-width: 1170px;
}


.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

body {
  padding-top: 80px;
}

.pagination {
  justify-content: center;
}
