#container {
  display: grid;
  grid-template-rows: 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px ;
  grid-template-columns: 370px 370px 370px;
  margin: 0 auto;
}

.m_title {
  font-size: 25px;
}

.bdr {
  border: 1px solid black;
  margin: 10px 17px;
  border-radius: 5px;
}

.btn {
  margin-top: 10px;
}