<h1>AWS講座</h1>
<p>注意！！！：AWSのEC2やRDSは有料サービスとなります無駄な料金を請求されないためにも、<br>
  不要なインスタンスは停止・削除してください。</p>

<table class="table table-striped">
  <thead>
    <tr class="table-primary">
      <th scope="col" class="no">No.</th>
      <th scope="col" >内容</th>
    </tr>
  </thead>
    <tbody>
      <% @aws_texts.each.with_index(1) do |aws_text,i| %>
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= link_to aws_text.title, aws_text %></td>
      </tr>
      <% end %>
    </tbody>
</table>
