<div class="row row-cols-1 row-cols-md-3">
  <% @texts.each do |text| %>
  <div class="col mb-4">
    <div class="card h-100 position:relative">
      <%= link_to text, class:"stretched-link" do %>
      <div class="card-body">
        <p class="card-text">
          <%= text.title %><br>
          【<%= text.genre %>】
        </p>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
